streamlit
python-dotenv
transformers
sentencepiece
torch
faster-whisper
groq
python-dotenv
elevenlabs
moviepy==1.0.3
pillow
numpy
scenedetect
opencv-python
pydub
yt-dlp
requests
ffmpeg-python
huggingface-hub
protobuf
tqdm
nltk
rouge-score
bert-score





